#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #7ac673;
}
#ext_menu-0 .mbr-navbar__section {
  background: #7ac673;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#slider-1 H1 {
  text-align: right;
}
#features1-2 .mbr-section-title .mbr-header__text {
  font-size: 20px;
}
#features1-2 .mbr-section__col .mbr-header__text {
  text-align: center;
}
#content5-7 .mbr-header .mbr-header__text {
  text-align: left;
  color: #fff;
}
#content5-7 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-7 .mbr-article {
  color: #fff;
}
#content5-7 .mbr-article P {
  text-align: center;
}
#features1-9 .mbr-section-title .mbr-header__text {
  color: #000000;
}
#features1-9 P {
  color: #252525;
  text-align: center;
}
#content4-8 .mbr-section__col .mbr-header__text {
  text-align: center;
  font-size: 17px;
}
#content4-8 P {
  text-align: center;
}
#contacts2-9 STRONG {
  color: #7ac673;
}
#contacts2-9 P {
  color: #ffffff;
}
#menu-10 .mbr-brand__name {
  font-size: 16px;
}
#menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #7ac673;
}
#menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-15 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-15 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-15 .mbr-article {
  color: #fff;
  text-align: center;
}
#footer1-28 P {
  text-align: right;
}
#menu-10 .mbr-brand__name {
  font-size: 16px;
}
#menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #7ac673;
}
#menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-19 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-19 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-19 .mbr-article {
  color: #fff;
  text-align: center;
}
#footer1-28 P {
  text-align: right;
}
#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #7ac673;
}
#ext_menu-0 .mbr-navbar__section {
  background: #7ac673;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-25 H3 {
  text-align: center;
}
#content1-29 DIV {
  text-align: center;
}
#contacts2-9 STRONG {
  color: #7ac673;
}
#contacts2-9 P {
  color: #ffffff;
}
#footer1-28 P {
  text-align: right;
}
